!!!
%html
  %head
    %title Transcript
  %body
    %h1= "##{messages.channel}"
    %table
      %thead
        %td Timestamp
        %td Nick
        %td Text
      - messages.each do |message|
        %tr
          %td= message["timestamp"].utc
          %td= message["nick"]
          %td= message["text"]
